#!/bin/bash
echo "Start {{ .chezmoi.sourceFile }}"
ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "Install Base Cli utilities"
  hosts: localhost
  gather_facts: false
  vars:
    source_file: {{ .chezmoi.sourceFile }} 
    install_packages: 
      # Wallpapaper
      - hyprpaper
      # Wayland utilities
      - fuzzel
      # Browsers
      - qutebrowser
      - chromium
      # Docs
      - obsidian
      # Cli for Gui
      - wl-clipboard
      # notify-daemon
      - mako
      # sound
      - pavucontrol
      - pipewire
      - wireplumber
      - pipewire-pulse
      - pipewire-alsa
      # Player
      - mpd
      # Network
      - nm-connection-editor
    install_yay_packages:
      - waybar-hyprland-git
      - tessen # fuzzel pass menu
      - clipman-git # clipboard manager for wayland
  tasks:
    {{ include ".chezmoiansible/install-packages" | nindent 4 }}
    {{ include ".chezmoiansible/install-yay-packages" | nindent 4 }}
EOF
