#!/bin/bash
echo "Start {{ .chezmoi.sourceFile }}"
ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "Install Base Cli utilities"
  hosts: localhost
  gather_facts: false
  vars:
    source_file: {{ .chezmoi.sourceFile }}
    install_packages:
      - zed
      {{- if .intel }}
      - vulkan-intel
      {{- else if .nvidia }}
      - vulkan-nouveau
      {{- end }}
      - xdg-desktop-portal-hyprland
      # Messging
      - discord
      # Video Edit Tool
      - kdenlive
      # Office
      - libreoffice-still
      - hunspell
      - hunspell-en_us
      - hunspell-ru
      - hyphen
      - hyphen-en
    install_yay_packages:
      - hyphen-ru
    {{- if .asus }}
      - rog-control-center
    {{- end }}
    install_bashible: []
    # - name: amneziavpn
    #   cmd: >-
    #     curl -O https://github.com/amnezia-vpn/amnezia-client/releases/download/4.6.0.3/AmneziaVPN_Linux_4.6.0.3.tar.zip &&
    #     tar -xzf AmneziaVPN_Linux_4.6.0.3.tar.zip &&
    #     chmod +x AmneziaVPN_Linux_Installer.bin &&
    #     ./AmneziaVPN_Linux_Installer.bin
    #   creates: /usr/local/sbin/AmneziaVPN
    #   - name: ventoy
    #     #TODO: create arch pkg
  tasks:
    {{ include ".chezmoiansible/install-packages" | nindent 4 }}
    {{ include ".chezmoiansible/install-yay-packages" | nindent 4 }}
    {{ include ".chezmoiansible/install-bashible" | nindent 4 }}
EOF
