#!/bin/bash

set -e

ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "Install font"
  hosts: localhost
  gather_facts: false
  vars: 
    source_file: {{ .chezmoi.sourceFile }} 
    install_packages: 
      - git  
      - make
      - python-pip
      - python
      - cargo
      - npm
      - nodejs
      - neovim
      - ripgrep
  tasks:
    {{ include ".chezmoiansible/install-packages" | nindent 4 }}

    - name: NerdFont | Create fonts directory 
      file:
        path: "~/.local/share/fonts"
        state: directory

    - name: NerdFont | Check Fonts Exists
      stat:
        path: ~/.local/share/fonts/IosevkaTerm.tar.xz
      register: font

    - name: NerdFont | Install font
      when: font.stat.exists
      block:
        - name: NerdFont | Unpack font
          ansible.builtin.unarchive:
            src: https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.1/IosevkaTerm.tar.xz
            dest: ~/.local/share/fonts
            remote_src: yes

        - name: NerdFont | Update fonts
          command: fc-cache -fv
EOF
