#!/bin/bash

{{ $ubuntuPkgs := list "git" "make" "pip" "python" "cargo" }} # TODO: install npm nodejs neovim lunarvim
{{ $archPkgs   := list "git" "make" "python-pip" "python" "cargo" "npm" "nodejs" "neovim" "ripgrep" }}

{{ if eq .chezmoi.osRelease.name "Ubuntu" }}
{{ template "install-package" $ubuntuPkgs }}
{{ else if eq .chezmoi.osRelease.name "Arch Linux" }}
{{ template "install-package" $archPkgs }}
{{ end }}
