{{- if eq .dmtype "sway" -}}
!/bin/bash

set -e

echo "Start {{ .chezmoi.sourceFile }}"

ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "Install sway"
  hosts: localhost
  gather_facts: false
  vars: 
    source_file: {{ .chezmoi.sourceFile }} 
    install_packages: 
      # drivers
      - mesa  
      - xf86-video-intel
      # Base sway packets
      - sway
      - polkit
      - swaylock
      - swayidle
      # Desktop Manager
      - sddm
      # xorg
      - xorg-xwayland
      # base terminal emulator
      - alacritty


      # yay
      - pkgconfig
      - 
  tasks:
    {{ include ".chezmoiansible/install-packages" | nindent 4 }}

    - name: "Enable services | {{ print "{{ source_file }}" }}"
      become: yes
      ansible.builtin.systemd:
        name: "sddm.service"
        enabled: true
EOF
{{ end }}
