#!/bin/bash
echo "Start {{ .chezmoi.sourceFile }}"
ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "Install DevOps utilities"
  hosts: localhost
  gather_facts: false
  vars:
    source_file: {{ .chezmoi.sourceFile }} 
    install_packages: 
      - docker
      - kubectl
      - kustomize
      - helm
    install_bashible:
      - name: k3d
        cmd: curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash
        creates: /usr/local/bin/k3d
    setup_completion:
      kubectl: kubectl completion zsh
      k3d: k3d completion zsh
      kustomize: kustomize completion zsh
      helm: helm completion zsh
    enable_services:
      - docker
  tasks:
    {{ include ".chezmoiansible/install-packages" | nindent 4 }}
    {{ include ".chezmoiansible/install-bashible" | nindent 4 }}
    {{ include ".chezmoiansible/setup-completion" | nindent 4 }}
    {{ include ".chezmoiansible/enable-services" | nindent 4 }}
    {{ include ".chezmoiansible/enable-services" | nindent 4 }}

    - name: Add docker group
      become: true
      user: 
        name: {{ .chezmoi.username }}
        groups: docker
        append: yes
EOF
