{{- if eq .chezmoi.osRelease.name "Arch Linux" -}}
#!/bin/bash

echo "Start {{ .chezmoi.sourceFile }}"

ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "Install packages"
  hosts: localhost
  become: false
  gather_facts: false
  vars:
    install_packages:
      - debugedit
      - fakeroot
      - git
    install_galaxy_modules:
      - "kewlfft.aur" 
  tasks:
    {{ include ".chezmoiansible/install-packages" | nindent 4 }}

    - name: Create src dir
      file:
        path: ~/.aur-src
        state: directory

    - name: Clone yay
      git:
        repo: https://aur.archlinux.org/yay-bin.git
        dest: "~/.aur-src/yay"
        update: true

    - name: Build and install yay
      command:
        chdir: "~/.aur-src/yay"
        cmd: "makepkg -sfi --noconfirm"

    {{ include ".chezmoiansible/install-galaxy-module" | nindent 4 }}
EOF
{{ end }}
