#!/bin/bash
echo "Start {{ .chezmoi.sourceFile }}"
ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "Install Base Cli utilities"
  hosts: localhost
  gather_facts: false
  vars:
    source_file: {{ .chezmoi.sourceFile }}
    install_packages:
      - which
      # Source Version Control
      - git
      - git-lfs
      # Base
      - make
      - man
      - less
      - tree
      - sed
      - gawk
      - openssh
      - gnupg
      - bind-tools
      - jq
      - pwgen
      # Archive
      - zip
      - unzip
      # network
      - inetutils
      - curl
      - wget
      # Shell
      - tmux
      - zsh
      - direnv
      - ranger
      # perfomance
      - iotop
      - htop
      # better cli
      - fd
      - bat
      - ripgrep
      # autocmd
      - fzf
      - navi
      - zoxide
      # network-utilities
      - rclone
      - sshfs
    install_bashible:
      - name: zimfw
        cmd: |
          curl -fsSL https://raw.githubusercontent.com/zimfw/install/master/install.zsh | zsh
        creates: ~/.zim/init.zsh
      - name: ranger_tmux
        cmd: |
          pip install ranger-tmux --break-system-packages && \
          mkdir -p ~/.config/ranger/plugins && \
          $HOME/.local/share/pipx/venvs/ranger-tmux/bin/python -m ranger_tmux install
        creates: ~/.config/ranger/plugins/ranger_tmux.py
    install_yay_packages:
      - downgrade # archlinux downgrade bash script
      - zsh-theme-powerlevel10k
  tasks:
    {{ include ".chezmoiansible/install-packages" | nindent 4 }}
    {{ include ".chezmoiansible/install-bashible" | nindent 4 }}
    {{ include ".chezmoiansible/install-yay-packages" | nindent 4 }}

    - name: Change defaul shell
      become: true
      user:
        name: {{ .chezmoi.username }}
        shell: /bin/zsh
EOF
