#!/bin/bash
echo "Start {{ .chezmoi.sourceFile }}"
ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "Install Base Cli utilities"
  hosts: localhost
  gather_facts: false
  vars:
    source_file: {{ .chezmoi.sourceFile }} 
    install_packages: 
      # Messging
      - discord
      # Video Edit Tool
      - kdenlive
      # Office
      - libreoffice-still
      - hunspell
      - hunspell-en_us
      - hunspell-ru
      - hyphen
      - hyphen-en
    install_yay_packages:
      - hyphen-ru
    install_bashible: []
    #   - name: ventoy
    #     #TODO: create arch pkg
  tasks:
    {{ include ".chezmoiansible/install-packages" | nindent 4 }}
    {{ include ".chezmoiansible/install-yay-packages" | nindent 4 }}
    {{ include ".chezmoiansible/install-bashible" | nindent 4 }}
EOF
