{{- if eq .dmtype "hyprland" -}}
#!/bin/bash

set -e

echo "Start {{ .chezmoi.sourceFile }}"

ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "Install hyprland"
  hosts: localhost
  gather_facts: false
  vars: 
    source_file: {{ .chezmoi.sourceFile }} 
    install_packages: 
      # drivers
      - mesa  
      - xf86-video-intel
      # Base hyprland packets
      - polkit
      # Desktop Manager
      - sddm
      # base terminal emulator
      - alacritty
    install_yay_packages:
      - pkg-config
      - gdb
      - ninja
      - gcc
      - cmake 
      - meson 
      - libxcb 
      - xcb-proto
      - xcb-util
      - xcb-util-keysyms 
      - libxfixes 
      - libx11 
      - libxcomposite 
      - xorg-xinput 
      - libxrender 
      - pixman 
      - wayland-protocols 
      - cairo 
      - pango 
      - seatd 
      - libxkbcommon 
      - xcb-util-wm 
      - xorg-xwayland 
      - libinput 
      - libliftoff 
      - libdisplay-info 
      - cpio
      - patch
      - hyprland-nvidia-git
  tasks:
    {{ include ".chezmoiansible/install-packages" | nindent 4 }}
    {{ include ".chezmoiansible/install-yay-packages" | nindent 4 }}

    - name: "Enable services | {{ print "{{ source_file }}" }}"
      become: yes
      ansible.builtin.systemd:
        name: "sddm.service"
        enabled: true
EOF

{{ end }}
