#!/bin/bash
echo "Start {{ .chezmoi.sourceFile }}"

ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "Install DevOps utilities"
  hosts: localhost
  gather_facts: false
  vars:
    source_file: {{ .chezmoi.sourceFile }}
    install_packages:
      # Docker
      - docker
      - docker-compose
      - docker-buildx
      # K8s
      - kubectl
      - kustomize
      - helm
      - kubie # shell independent swich context
      - kubeseal # encrypt files inside k8s namespace
      # IaC
      - terraform
      # Bash scripts
      - gum
      # pipx - python cli utilities inside venv
      - python-pipx
      - glab # gitlab cli
    install_yay_packages:
      - github-cli
      - kind
      - cruft
    install_bashible:
      - name: krew
        cmd: |-
          (
           set -x; cd "$(mktemp -d)" &&
           OS="$(uname | tr '[:upper:]' '[:lower:]')" &&
           ARCH="$(uname -m | sed -e 's/x86_64/amd64/' -e 's/\(arm\)\(64\)\?.*/\1\2/' -e 's/aarch64$/arm64/')" &&
           KREW="krew-${OS}_${ARCH}" &&
           curl -fsSLO "https://github.com/kubernetes-sigs/krew/releases/latest/download/${KREW}.tar.gz" &&
           tar zxvf "${KREW}.tar.gz" &&
           ./"${KREW}" install krew
          )
        creates: ~/.krew
    setup_completion:
      kubectl: kubectl completion zsh
      kind: kind completion zsh
      kustomize: kustomize completion zsh
      helm: helm completion zsh
    enable_services:
      - docker
  tasks:
    {{ include ".chezmoiansible/install-packages" | nindent 4 }}
    {{ include ".chezmoiansible/install-yay-packages" | nindent 4 }}
    {{ include ".chezmoiansible/install-bashible" | nindent 4 }}
    {{ include ".chezmoiansible/setup-completion" | nindent 4 }}
    {{ include ".chezmoiansible/enable-services" | nindent 4 }}
    {{ include ".chezmoiansible/enable-services" | nindent 4 }}

    - name: Add docker group
      become: true
      user:
        name: {{ .chezmoi.username }}
        groups: docker
        append: yes
EOF
