#!/bin/bash

set -e

echo "Start {{ .chezmoi.sourceFile }}"

# TODO: before for nvidia:
# install nvidia-dkms
# add systemd-boot param
# install linux-headers
# create module mkinitcpio
# create /etc/modprobe.d/nvidia.conf
#

ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "Install hyprland"
  hosts: localhost
  gather_facts: false
  vars:
    source_file: {{ .chezmoi.sourceFile }}
    install_packages:
{{ if .nvidia }}
      # video drivers
      - mesa
      - libva-intel-driver
{{ end }}
      # - xf86-video-intel # not recomended
      # Base hyprland packets
      - polkit
      # Ask password
      - polkit-kde-agent
      # Base
      - qt5-wayland
      - qt6-wayland
      - qt5ct
      - libva
      # Desktop Manager
      - sddm
      # base terminal emulator
      - alacritty
      # Some special integrations
      - xdg-desktop-portal-hyprland
      # For filechooser
      - xdg-desktop-portal-gtk
    install_yay_packages:
      - pkg-config
      - gdb
      - ninja
      - gcc
      - cmake
      - meson
      - libxcb
      - xcb-proto
      - xcb-util
      - xcb-util-keysyms
      - libxfixes
      - libx11
      - libxcomposite
      - xorg-xinput
      - libxrender
      - pixman
      - wayland-protocols
      - cairo
      - pango
      - seatd
      - libxkbcommon
      - xcb-util-wm
      - xorg-xwayland
      - libinput
      - libliftoff
      - libdisplay-info
      - cpio
      - patch
{{ if .nvidia }}
      # nvidia special
      # - hyprland-nvidia-git
      - nvidia-vaapi-driver-git
{{ end }}
      - hyprland
      # Capture tool
      - grim
      - slurp
      - satty-bin # annotation tool
  tasks:
    {{ include ".chezmoiansible/install-packages" | nindent 4 }}
    {{ include ".chezmoiansible/install-yay-packages" | nindent 4 }}

    - name: "Enable services | {{ print "{{ source_file }}" }}"
      become: true
      ansible.builtin.systemd:
        name: "sddm.service"
        enabled: true

    - name: "Enable services | {{ print "{{ source_file }}" }}"
      ansible.builtin.systemd:
        name: xdg-desktop-portal-hyprland
        scope: user
        state: started
        enabled: true
EOF
