#!/bin/bash
echo "Start {{ .chezmoi.sourceFile }}"
ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "Install Base Cli utilities"
  hosts: localhost
  gather_facts: false
  vars:
    source_file: {{ .chezmoi.sourceFile }}
    install_packages:
      # libs
      - kwayland5
      # Wallpapaper
      - hyprpaper
      # Wayland utilities
      - fuzzel # fuzzi runner dmenu analog
      - grim  # Screenshoot tool
      # Docs
      - obsidian
      # Cli for Gui
      - wl-clipboard # cli for clipboard
      - wtype # cli simulate keyboard
      # notify-daemon
      - mako
      # sound
      - pavucontrol
      - pipewire
      - wireplumber
      - pipewire-pulse
      - pipewire-alsa
      # Player
      - mpd
      # Network
      - nm-connection-editor
      - networkmanager-l2tp
      - networkmanager-strongswan
      # Filemanager
      - thunar
    install_yay_packages:
      # Browsers
      - firefox
      # Other
      - grimblast # Taking screenhsot
      - waybar # panel
      - tessen # fuzzel pass menu
      - clipman # clipboard manager for wayland
      - slurp # Select region for screenshoot
      - swaylock
      - wlogout # logout screen
      # Fuzzel nm-applet replacement
      - networkmanager-dmenu-git
      # File manager
      - nemo
  tasks:
    {{ include ".chezmoiansible/install-packages" | nindent 4 }}
    {{ include ".chezmoiansible/install-yay-packages" | nindent 4 }}
EOF
