{{- if eq .chezmoi.osRelease.name "Arch Linux" -}}
#!/bin/bash
echo "Start {{ .chezmoi.sourceFile }}"
ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "ArchLinux Post install"
  hosts: localhost
  become: true
  gather_facts: false
  vars:
    source_file: {{ .chezmoi.sourceFile }} 
    install_packages: 
      - reflector
      - networkmanager
      - xdg-user-dirs
    enable_services:
      - reflector.service
      - NetworkManager.service
  tasks:
    {{ include ".chezmoiansible/install-packages" | nindent 4 }}
    {{ include ".chezmoiansible/enable-services" | nindent 4 }}

- name: "ArchLinux Post install [LOCAL]"
  hosts: localhost
  become: false
  gather_facts: true
  tasks:
    - name: Add to input group
      become: true
      ansible.builtin.user:
        name: "{{ print "{{ ansible_user_id }}" }}"
        groups: input
        append: true

EOF

# Create user dirs
if  [ ! -d "$HOME/Downloads" ]; then  
  echo "Create user dirs"
  LC_ALL=C xdg-user-dirs-update --force
  mkdir $HOME/Projects
  mkdir $HOME/tmp
fi

{{ end }}
