{{- if eq .chezmoi.osRelease.name "Arch Linux" -}}
{{- $archPkgs   := list "reflector" -}}
#!/bin/bash

{{ template "install-package" $archPkgs }}

ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "Install packages"
  hosts: localhost
  become: true
  gather_facts: false
  tasks:
    - name: Reflector | Enable service
      ansible.builtin.systemd:
        name: reflector.service
        state: started
        enabled: true
EOF

{{ end }}
