{{- if eq .chezmoi.osRelease.name "Arch Linux" -}}
#!/bin/bash
echo "Start {{ .chezmoi.sourceFile }}"
ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "ArchLinux Post install"
  hosts: localhost
  gather_facts: false
  vars:
    source_file: {{ .chezmoi.sourceFile }} 
    install_packages: 
      - reflector
      - networkmanager
      - networkmanager-openvpn
      - xdg-user-dirs
      - snapper
      - snap-pac
      - ntfs-3g
      - sof-firmware # sound firmware for modern cards
    enable_services:
      - reflector.service
      - NetworkManager.service
      - systemd-timesyncd.service
      - systemd-resolved
  tasks:
    - name: Resolved DNS Settings
      become: yes
      block:
      - name: DNS
        ansible.builtin.lineinfile:
          path: /etc/systemd/resolved.conf
          regexp: '^#?DNS=.*'
          line: DNS=8.8.8.8

      - name: Domains
        ansible.builtin.lineinfile:
          path: /etc/systemd/resolved.conf
          regexp: '^#?Domains=.*'
          line: Domains=~.

      - name: Domains
        ansible.builtin.lineinfile:
          path: /etc/systemd/resolved.conf
          regexp: '^#?ReadEtcHosts=.*'
          line: ReadEtcHosts=yes

    {{ include ".chezmoiansible/install-packages" | nindent 4 }}
    {{ include ".chezmoiansible/enable-services" | nindent 4 }}

    - name: Set hardware and software clock
      become: yes
      community.general.timezone:
        name: Europe/Moscow
        hwclock: local

- name: "ArchLinux Post install [LOCAL]"
  hosts: localhost
  gather_facts: true
  tasks:
    - name: Add to input group
      become: true
      ansible.builtin.user:
        name: "{{ print "{{ ansible_user_id }}" }}"
        groups: input
        append: true

EOF

# Create user dirs
if  [ ! -d "$HOME/Downloads" ]; then  
  echo "Create user dirs"
  LC_ALL=C xdg-user-dirs-update --force
  mkdir $HOME/Projects
  mkdir $HOME/tmp
fi

{{ end }}
