#!/bin/bash
echo "Start {{ .chezmoi.sourceFile }}"
ansible-playbook -i localhost, -c local /dev/stdin <<'EOF'
- name: "Install Base Cli utilities"
  hosts: localhost
  gather_facts: false
  vars:
    source_file: {{ .chezmoi.sourceFile }} 
    install_packages: 
      # Source Version Control
      - git
      - git-lfs
      # Base
      - man
      - less
      - tree
      - sed
      - gawk
      - openssh
      - gnupg
      - bind-tools 
      # network
      - inetutils
      - curl
      - wget
      # Shell
      - tmux
      - zsh
      - zsh-theme-powerlevel10k
      # perfomance
      - iotop
      - htop
      # better cli
      - fd
      - bat
      - ripgrep
      # autocmd
      - fzf
      - navi
      - zoxide
      # utilities
      - rclone
    install_bashible:
      - name: zimfw
        cmd: |
          curl -fsSL https://raw.githubusercontent.com/zimfw/install/master/install.zsh | zsh
        creates: ~/.zim/init.zsh

  tasks:
    {{ include ".chezmoiansible/install-packages" | nindent 4 }}

    {{ include ".chezmoiansible/install-bashible" | nindent 4 }}

    - name: Change defaul shell
      become: true
      user: 
        name: {{ .chezmoi.username }}
        shell: /bin/zsh
EOF
