---
data:
  # Description: use nvidia drivers
  # Values: no yes
  nvidia: false
  intel: false
  # Values: no yes
  asus: false
  # Wallpaper
  wallpaper: ~/Pictures/sky.png
  name: Denis
  surname: Kaliuzhny
  email: deniskaspy@gmail.com
