data:
  install:
    apt-base: []
    cli: []
    font:
      pkgs:
        - curl # getnf
        - unzip # getnf
        - fontconfig # getnf
    editor:
      pkgs:
        - git # lvim
        - make # lvim
        - pip # lvim
        - python # lvim
        - npm # lvim
        - node # lvim
        - cargo  # lvim
        - neovim # lvim
