---
data:
  # Description: use nvidia drivers
  # Values: no yes
  nvidia: no    
  # Values: no yes
  asus: yes
  # Description: choose chrome broswer
  # Values: google-chrome chromium
  browser: google-chrome
  name: Denis
  surname: Kaliuzhny
  email: denis.kaliuzhny@indels.org
